<h1><%= @client.name() %></h1>
<br>

<h4>Change <%= @client.name() %>'s name.</h4>
<br>
<form action="/client_edit/<%= @client.id() %>" method="post">
  <input type ="hidden" name = "_method" value="patch">
  <label for="name">Change name</label>
  <input id="name" name="name" type="text">

  <button type = "submit">Change</button>
</form>

<br>
<form action ="/client_delete/<%= @client.id() %>" method="post">
  <input name ="_method" type ="hidden" value="delete">
  <button type = "submit">Delete</button>
</form>

<br>
<a href="/">Back</a>
